:root{
    --dark_blue: hsl(233, 47%, 7%);
    --desaturated_blue: hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-headings: hsla(0, 0%, 100%, 0.6);

    --fw-400: 400;
    --fw-700: 700;
}
*{
    font-size: 15px;
    margin: 0px;
}

body{
    background-color: var(--dark_blue);
    width: 100%; 
}

.shell_main{
    width: 90%;
    max-width: 400px;
    margin: 10% auto 0px auto;
    background-color: var(--desaturated_blue);
    color: var(--white-paragraph);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.shell_img_mobile{
    border-radius: 10px 10px 0px 0px;
    background-color: hsla(277, 81%, 42%, 0.72);
    margin: 0px;
    z-index: 100;
    position: relative;
    height: 250px;
}
.img_color_mobile{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsl(282, 86%, 31%);
    z-index: 100;
    opacity: .5;
    border-radius: 10px 10px 0px 0px;
}
img{
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px  0px;
    opacity: .8;
    z-index: 1;
}
.img_desktop{
    display: none;
}

h1{
    color: var(--white);
    font-size: 1.8rem;
    font-family: "lexend deca", sans-serif;
    padding: 2rem 1rem 0rem 1rem;
}
span{
    font-size: 2rem;
    color: var(--violet);
}
.info{
    font-family: inter, sans-serif;
    padding: 0rem 2.8rem; 
    color: var(--white-headings);
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    line-height: 1.8rem;
} 
.stats{
    margin: 1.8rem; 
}
.stats_value{
    font-family: inter, sans-serif;
    font-weight: var(--fw-700);
    font-size: 1.8rem;
    color: var(--white);
}
.stats_category{
    font-size: .9rem;
    margin-top: .4rem;
    font-weight: var(--fw-400);
    color: var(--white-headings);
    font-family: "lexend deca", sans-serif;
    margin-bottom: 2rem;
}
.shell_content{
    padding-bottom: .2rem;
}

@media screen and (min-width: 900px) {
    .shell_main{
        border-radius: 10px;
        max-width: 1000px;
        width: 95%;
    }
    .shell_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0px;
        text-align: left;
    }
    .shell_img_mobile{
        display: none;
    }
    .img_desktop{
        display: block;
        height: 100%;   
        border-radius: 0px 10px 10px 0px;
    }
    .shell_img_desktop{
        border-radius: 0px 10px 10px 0px;
        background-color: hsla(277, 81%, 42%, 0.72);
        margin: 0px;
        z-index: 100;
        position: relative;
        height: 100%;
    }
    .img_color_desktop{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: hsl(282, 86%, 31%);
        z-index: 100;
        opacity: .5;
        border-radius: 0px 10px 10px 0px;
    }

    h1{
        font-size: 2rem;
        padding: 4rem;
        padding-bottom: 0px;

    }
    .info{
        padding: 4rem;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    .shell_stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }
    .stats_value{
        font-size: 1.5rem;
    }
    .stats_category{
        font-size: .8rem;
    }

}
